<div class="main_container">
  <!--section id="drink_specials">
    <h2>Daily Drink Specials</h2>
    <hr class="style-eight">
    <p>Drink Drink Drink!</p>
  </section-->
  <section id="betty_drinks">
    <h2>Betty's Signature Drinks</h2>
    <hr class="style-eight">
    <p>Signature drinks ahoy!  Try out Betty Slushy!</p>
  </section>
  <section id="bottles">
    <h2>Beers In Bottles</h2>
    <hr class="style-eight">
    <p> We've got the usual assortment of domesticated beers in bottles and a nice 
      selection of craft beers.</p>
    <p>Leinenkugel's Red, Redds Apple Ale, Pabst Blue Ribbon, Heineken, New Castle 
      Brown Ale, Point Nude Beach,Flat Tire, Miller Genuine Draft, Miller Lite, 
      Miller High Life, Coors Lite, Michelob Ultra Lite, Michelob Golden Light, 
      Budweiser, Bud Lite, Samuel Adams, Bud Light Lime, and Miller 64</p>
  </section>
    <section id="taps">
    <h2>Beers On Tap</h2>
    <hr class="style-eight">
    <p>A great selection of interesting craft beers on tap.</p>
    <ul>
      <li>Bell's Oberon Ale</li>
      <li>Grain Belt Premium</li>
      <li>Lagunitas IPA</li>
      <li>Hopalicious</li>
      <li>Spotted Cow</li>
      <li>Moon Man</li>
      <li>Blue Moon</li>
      <li>Summer Shandy</li>
      <li>Honey Weiss</li>
      <li>Sam Adam's Seasonal</li>
      <li>Oscar's Chocolate Oatmeal Stout Ale</li>
      <li>Milwaukee Outboard Cream Ale</li>
      <li>Rush River Unforgiven</li>
      <li>Founder's Dirty Bastard</li>
      <li>Angry Orchard Hard Apple Cider</li>
      <li>Sand Creek Hard Lemonade</li>
    </ul>
  </section>
  <section id="wines">
    <h2>Wines</h2>
    <hr class="style-eight">
    <p>Available by glass or by bottle. Here is our current selection:</p>
  </section>
  <section id="halfy_hour">
    <h2>Halfy Hours</h2>
    <hr class="style-eight">
    <p>Monday through Saturday from 3:00pm to 6:00pm, half off on appetizers, rail drinks, call drinks, bottled beer, tap beer, and more!</p>
  </section>
</div>
