<div class="main_container">
  <section id="drink_specials">
    <h2>Daily Drink Specials</h2>
    <hr class="style-eight">
    <p>Drink Drink Drink!</p>
  </section>
  <section id="betty_drinks">
    <h2>Betty's Signature Drinks</h2>
    <hr class="style-eight">
    <p>Signature drinks ahoy!  Try out Betty Slushy!</p>
  </section>
  <section id="taps">
    <h2>Beers On Tap</h2>
    <hr class="style-eight">
    <p>A great selection of interesting microbrews on tap.</p>
  </section>
  <section id="bottles">
    <h2>Beers In Bottles</h2>
    <hr class="style-eight">
    <p>We've got the usual assortment of domesticated beers in bottles.</p>
  </section>
  <section id="wines">
    <h2>Wines</h2>
    <hr class="style-eight">
    <p>Available by glass or by bottle. Here is our current selection:</p>
  </section>
</div>
