<div id="splash_banners_container">
  <!--div main-carousel-->
  <!--div>
    <carousel interval="3500" json-url="carousel_slides.json">
      <slide ng-repeat="slide in ctrl.slides" active="slide['active']">
        <img ng-src="{{slide['image']}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide['title']}}</h4>
          <p>{{slide['text']}}</p>
        </div>
      </slide>
    </carousel>
  </div-->
  
  <!--carousel slide-interval="3500"></carousel-->
  
  <!-- Moving carousel component logic to controller and placing html here-->
  <div carousel ng-switch="ctrl.loading">
    <div ng-switch-when="true" id="carousel-loading-space">
      <img id="carousel-loading-image" src="image/ajax-loader.gif" alt="ajax loading animation image">
    </div>
    <div ng-switch-when="false">
      <div ng-switch="ctrl.loaded">
        <div ng-switch-when="true">
          <div class="bbb-carousel">
            <ul ng-mouseenter='ctrl.pauseslides()' 
                ng-mouseleave='ctrl.playslides()'
                style="list-style-type: none; 
                       margin-left: -2em;">
              <li ng-repeat="slide in ctrl.slides" 
                  ng-class="{ 'show' : ctrl.isfirstslide(slide),
                              'slide': true }" 
                  id="slide{{ctrl.slides.indexOf(slide) + 1}}">
                <img ng-src="{{slide['image']}}">
                <div class="caption">
                  <h1>{{slide['title']}}</h1>
                  <h3>{{slide['text']}}</h3>
                </div>
              </li>
            </ul>
            <section id="carousel-nav">
              <button href="" ng-click="ctrl.prevslide()">
                <img src="image/chevron-left-lg.svg">
              </button>
              <button href="" ng-click="ctrl.nextslide()">
                <img src="image/chevron-right-lg.svg">
              </button>
            </section>
          </div>
        </div>
        <div ng-switch-when="false">
          {{ctrl.message}}
        </div>
      </div>
    </div>
  </div>
</div>
       
<div class="main_container">
  <h1>BUG EYED BETTY'S</h1>
  <h2>a Bug Eyed Take on the Classics</h2>
  <p>A new American Bar & Restaurant in Eau Claire dedicated to giving you something 
    different! Whether it's a new take on a classic drink or a zesty new way of 
    looking at pizzas or sandwhiches, you'll find something to satiate your palette 
    and your curiosity.  Tradition tuned up a notch! Classics clarified.  Favorites 
    flavorized.  You get the drill.  Get over to Bug Eyed Betty's and try for yourself!</p>
  <p>Bug Eyed Bettys is a new locally owned and operated restaurant in the Eau Claire 
    area.  We opened in the summer of 2014 and we are working hard to establish 
    ourselves as a fixture in the vibrant Eau Claire restaurant scene.</p>
  <!--hr class="style-eight"-->
  <section id="hours">
    <h2>HOurs of OperatiOn</h2>
    <hr class="style-eight">
    <ul class="hours_of_op">
      <li><strong>Pizza and Salad Bar:</strong> 11:00am - 2:00pm</li>
      <li><strong>Monday:</strong> 11:00am - 12:00am</li>
      <li><strong>Tuesday:</strong> 11:00am - 12:00am</li>
      <li><strong>Wednesday:</strong> 11:00am - 12:00am</li>
      <li><strong>Thursday:</strong> 11:00am - 12:00am</li>
      <li><strong>Friday:</strong> 11:00am - 2:00am</li>
      <li><strong>Saturday:</strong> 11:00am - 2:00am</li>
      <li><strong>Sunday: </strong> 11:00am - 12:00am</li>
    </ul>
  </section>
  <section id="pizza_and_salad_bar">
    <h2>Pizza and Salad Bar</h2>
    <hr class="style-eight">
    <img src="image/small_pizza_salad_bar.jpg">
    <p>Every weekday from 11:00am to 2:00pm we have our pizza and salad bar. Our
       finest selection of classic pizzas and all the makings for delicious salads. 
       All for the low low price of $5!  You just can't beat this bug eyed lunch 
       buffet.</p>
  </section>
  <section id="happy hour">
    <h2>Halfy HOur!</h2>
    <hr class="style-eight">
    <p>Monday through Saturday from 3:00pm to 6:00pm, half off on appetizers, rail 
      drinks, call drinks, bottled beer, tap beer, and more! On Sundays, Halfy 
      Hour is all day!</p>
  </section>
  
</div>