<div id="splash_banners_container">
  <!--div main-carousel>
    <carousel interval="5000">
      <slide ng-repeat="slide in ctrl.slides" active="slide['active']">
        <img ng-src="{{slide['image']}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide['title']}}</h4>
          <p>{{slide['text']}}</p>
        </div>
      </slide>
    </carousel>
  </div-->
  
  <div carousel id="splash_banners_carousel">
    <section ng-repeat="slide in ctrl.slides" ng-class="slide['active']">
      <img ng-src="{{slide['image']}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>{{slide['title']}}</h4>
        <p>{{slide['text']}}</p>
      </div>
    </section>
  </div>
</div>
       
<div class="main_container">
  <hr class="style-eight">
  <h2>You'll go bug-eyed over our menu!</h2>
  <h3>American cuisine with more twists than Twin Peaks!</h3>
  <p>Come in for our delicious dishes that really change what you think when you think "American cuisine".  You'll never go back.</p>
  <hr class="style-eight">
</div>