<div class="main_container">
  <table id="specials_table">
    <caption>
      Here are our current grand opening daily specials.  Lots of great deals here so get over
      to Bug Eyed Betty's while they last!
    </caption>
    <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buy 1 Meal Get 1 Meal Half price!</td>
        <td>Buy 1 Meal Get 1 Meal Half price!</td>
        <td>Buy 1 Meal Get 1 Meal Half price!</td>
        <td>Buy 1 Meal Get 1 Meal Half price!</td>
        <td>Buy 1 Meal Get 1 Meal Half price!</td>
        <td>Buy 1 Meal Get 1 Meal Half price!</td>
        <td>Buy 1 Meal Get 1 Meal Half price!</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>