@font-face {
  font-family: myCopasetic;
  src: url('font/COPASETI.woff') format('woff'), 
       url('font/COPASETI.TTF') format('truetype');
}

body {
  background-image: url("image/wood_bg.jpg");
  background-repeat: repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

header img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  display: block;
}

h1, p {
  color: #333;
}

/* -------------------------------------------------------------------------- */

#containers {
  margin: 0 auto 8em;
  max-width: 1215px;
}

#splash_banners_container,
.main_container,
.menu_container {
  width: 100%;
  position: relative;
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
}

#splash_banners_container {
  height: auto;
  margin-bottom: 2em;
  padding: 0em 0.5em 0.5em 0em;
}

.main_container,
.menu_container {
  width: 100.6%;
  margin-bottom: 4em;
}

.menu_container h3 {
  margin-left: 1.25em;
  font-family: myCopasetic, Verdana, sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
}

/* -------------------------------------------------------------------------- */

#menu_bar {
  width: 100%;
  text-align: center;
}

.ribbon {
  display: inline-block;
}

.ribbon:after, 
.ribbon:before {
  margin-top: 1em; /* default: 0.5em */
  margin-bottom: 0.5em;
  content: "";
  float: left;
  border: 1.75em solid #fff; /* default: 1.5em solid #fff */
}

.ribbon:after {
  border-right-color: transparent;
}

.ribbon:before {
  border-left-color: transparent;
}

.ribbon a:link, 
.ribbon a:visited { 
  color:#000;
  text-decoration: none;
  float: left;
  height: 4.4em; /* default: 3.5em */
  margin-bottom: 1em; /* default: not present */
  overflow: hidden;
}

.ribbon span {
  font-family: myCopasetic;
  font-size: 2em; /* default: 1em */
  background:#fff;
  display:inline-block;
  line-height: 2em; /* default: 3em */
  padding:0 1.5em;
  margin-top:0.5em;
  position:relative;

  -webkit-transition: background-color 0.2s, margin-top 0.2s;
  -moz-transition: background-color 0.2s, margin-top 0.2s;
  -ms-transition: background-color 0.2s, margin-top 0.2s;
  -o-transition: background-color 0.2s, margin-top 0.2s;
  transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
  background:#a9c8ff;
  margin-top:0;
}

.ribbon span:before {
  content: "";
  position: absolute;
  top: 2em; /* default: 3em */
  left: 0;
  border-right: 0.25em solid #9B8651;
  border-bottom: 0.25em solid #fff;
}

.ribbon span:after {
  content: "";
  position: absolute;
  top: 2em; /* default: 3em */
  right: 0;
  border-left:0.25em solid #9B8651;
  border-bottom:0.25em solid #fff;
}

/* -------------------------------------------------------------------------- */

/* Glyph, by Harry Roberts */
    
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    margin-left: 1em;
    margin-right: 1em;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.6em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* -------------------------------------------------------------------------- */

.bbb-carousel li {
  display: none;
  opacity: 0;
  transition: opacity 5s;
}

/* overwrites li display style */
.bbb-carousel .show {
  display: block;
  opacity: 1;
}

.bbb-carousel .caption {
  position: absolute;
  top: 200px;
  left: 50px;
  letter-spacing: .2em;
}

.bbb-carousel .slide {
  transition: opacity
}

.bbb-carousel .caption h3 {
  font-family: myCopasetic, Verdana, sans-serif;
  font-size: 3em;
}

.bbb-carousel .caption p {
  font-size: 1.5em;
  color: #a9c8ff;
}

#carousel-loading-space {
  width: 1200px;
  height: 400px;
}

/* -------------------------------------------------------------------------- */

/* bootstrap dart port req */
.nav, 
.pagination, 
.carousel, 
.panel-title a {
  cursor: pointer; }